
$font_size: 18px;

$background_sub: #e8d7ed;

$site_width: 800px;

$link_color: #a55f64;
$text_color: #333334;

$theme_color: #7079bd; // common color
$border_color: #70b6bd; // highlight color

$grad_left: $theme_color;
$grad_right: $border_color;

$code_bg: #202128; // mix(#2C2C2C, $theme_color, 90%);

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin transition($args...) {
    transition: $args;
}

@mixin border_box {
    box-sizing: border-box;
}

