
$font_size: 18px;

$background_sub: #e8d7ed;

$site_width: 800px;

$link_color: #a55f64;
$text_color: #333334;

$grad_left: #7079bd;
$grad_right: #70b6bd;

$border_color: $grad_right;

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%, $flip: false) {
    @if ($flip) {
        @include grad(darken($color, $amount), $color);
    } @else {
        @include grad($color, darken($color, $amount));
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

