@import "common";

.searcher {
    position: relative;
    .results_popup {
        position: absolute;
        background: white;
        z-index: 2;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        margin-left: -1px;
        margin-right: -1px;
        box-shadow: 0 0 10px rgba(black, 0.1);

        border: 2px solid $border_color;
        border-radius: 2px;
        overflow: hidden;

        .result_row {
            @include single_line;
            padding: 8px 15px;
            line-height: 20px;
            color: #999;

            .result_sub {
                margin-left: 10px;
                font-size: 14px;
            }

            &.selected {
                background-color: #D7EDDF;
            }
        }
    }

    .search_input {
        font-family: Lato;
        border: 1px solid $border_color;
        padding: 8px 15px;
        border-radius: 2px;
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $border_color;
        }

    }

}
