@import "common";

$mobile_width: 600px;

@mixin mobile_width  {
    @media (max-width: $mobile_width) {
        @content;
    }
}

.searcher {
    position: relative;
    .results_popup {
        position: absolute;
        background: white;
        z-index: 2;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        margin-left: -1px;
        margin-right: -1px;
        box-shadow: 0 0 10px rgba(black, 0.1);

        border: 2px solid $border_color;
        border-radius: 3px;
        overflow: hidden;

        @media (prefers-color-scheme: dark) {
            background: var(--background-sub);
        }

        @include mobile_width {
            left: 10px;
            right: 10px;
            top: 50px;
            max-height: calc(100vh - 75px);
            overflow: auto;
            position: fixed;
        }

        .result_row {
            @include single_line;
            padding: 8px 15px;
            line-height: 20px;
            color: rgba($text_color, 0.6);

            @media (prefers-color-scheme: dark) {
                color: rgba($text_color_dark, 0.6);
            }

            .result_sub {
                margin-left: 10px;
                font-size: 14px;
            }

            &.selected {
                background-color: rgba($background_sub, 0.4);

                @media (prefers-color-scheme: dark) {
                    background-color: rgba($background_sub_dark, 0.4);
                }
            }
        }
    }

    .search_input {
        font-family: Lato;
        border: 1px solid $border_color;
        padding: 8px 15px;
        border-radius: 2px;
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;

        @media (prefers-color-scheme: dark) {
            background: var(--background-sub);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $border_color;
        }

        color: var(--text-color);
    }

}
