@import "common";
@import "search";
@import "syntaxhighlight";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Inconsolata);

::selection {
    background: #0CF;
    color: white;
}


body {
    background: white;
    color: $text_color;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;
}

h1 {
    font-weight: 900;
}

a {
    color: $link_color;
    &:hover {
        opacity: 0.8;
    }
}

.content .chat_banner {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    > svg {
        margin-right: 5px;
        opacity: 0.6;
    }

    > p {
        margin: 0;
    }
}

.lang_headers {
    @include transition(box-shadow 0.5s ease);
    background: rgba(white, 0.8);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: sticky;
    box-shadow: 0 0 0 1px #dadada;
    webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    top: 0;

    .lang_toggle {
        @include transition(all 0.2s ease);
        @include unselectable;
        display: none;
        font-size: 16px;
        padding: 5px 10px;
        margin-left: 10px;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;

        border: 1px solid $border_color;
        border-radius: 4px;

        &:hover {
            background: #707BBD;
            border-color: #70B6BD;
            color: white;
        }

        &:active {
            background: darken(#707BBD, 20%);
        }
    }

    .lang_header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        flex: 1;
        min-width: 0;
        max-width: 650px;
        vertical-align: top;
        padding: 10px 0;
        margin: 0;
        font-weight: 900;

        &:first-child {
            border-right: 1px solid #dadada;
        }
    }
}

code, pre {
    font-family: Inconsolata, monospace;
}

.sub_header {
    background: $background_sub;
    padding: 10px 20px;

    .inner {
        width: $site_width;
        margin: 0 auto;
    }
}

.header {
    background: mix($grad_left, $grad_right, 50%);
    background: linear-gradient(45deg, $grad_left, $grad_right);
    padding: 40px 0 45px 0;

    .inner {
        width: $site_width;
        margin: 0 auto 20px auto;
        position: relative;
        display: flex;

        .title_area {
            flex: 1;
            margin-left: 30px;
        }
    }

    .button {
        @include unselectable;
        @include border_box;
        display: inline-block;
        margin-right: 10px;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }

        color: white;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        height: 48px;
        line-height: 44px;
        padding: 0 15px;
        vertical-align: top;

        img {
            height: 24px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
        }

        &:hover {
            background: rgba(white, 0.1);
        }

        &:active {
            background: rgba(black, 0.1);
        }

    }

    .version_flag {
        position: absolute;
        background: white;
        font-weight: bold;
        font-size: 16px;
        color: $grad_left;
        padding: 10px;
        border-radius: 4px;
        right: 90px;
        top: 38px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .window_frame {
        width: 320px;
        height: 200px;

        background: #EDECEB;

        box-shadow: inset 0 0 0 1px #6D6A68, inset 2px 0 0 white, inset 0 0 0 2px #D2D0CE;
        border-radius: 4px 4px 0 0;

        .window_title {
            $border: #455D7C;
            $top_highlight: #B2CCED;
            $left_side_highlight: #9EBDE5;
            $right_side_highlight: #7BA2D3;
            $bottom_shadow: #4E76A8;
            $text_outline: #4E77AB;

            border: 1px solid $border;
            border-bottom: 0;

            border-radius: 4px 4px 0 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 22px;
            line-height: 22px;
            background: #99BAE3;
            @include grad(#99BAE3, #7AA1D1);

            box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
            color: white;
            text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
        }

        &.pink {
            .window_title {
                $border: #94487A;
                $top_highlight: #F3B3DD;
                $left_side_highlight: #EDA1D3;
                $right_side_highlight: #DE7EBD;
                $bottom_shadow: #BA5096;
                $text_outline: #BD5198;

                border: 1px solid $border;
                border-bottom: 0;

                background: #EB99CF;
                @include grad(#EB99CF, #DE7EBD);

                box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
                text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
            }
        }
    }

    .animation {
        width: 312px;
        height: 169px;
        overflow: hidden;
        margin: 4px;
    }

    h1 {
        margin: 0;
        font-size: 120px;
        position: relative;
        left: -7px;
        color: white;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    h2 {
        margin: 0px 0 4px 0;
        font-weight: normal;
        font-size: 18px;
        color: rgba(white, 0.7);

        a {
            text-decoration: none;
            font-style: italic;
            color: white;
        }
    }

    .button_row {
        width: $site_width;
        margin: 0 auto;
        display: flex;

        > .button {
            flex: 1;
        }
    }
}

.new_banner {
    background: lighten(#C8F0CE, 5%);
    border-bottom: 2px solid #C8F0CE;

    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.installer {
    $installer_height: 48px;

    display: flex;;
    text-align: left;
    margin-right: 10px;
    position: relative;
    min-width: 320px;

    background: rgba(black, 0.6);
    color: white;
    font-size: 0;

    border-radius: 3px;

    .install_label, .install_promp {
        font-size: $font_size;
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: $installer_height;
    }

    .install_label {
        background: rgba(black, 0.2);
        border-radius: 3px 0 0 3px;
    }

    .install_promp {
        flex: 1;
        &:before {
            font-family: Inconsolata, monospace;
            content: "$ ";
            margin-right: 5px;
            color: #ff9898;
        }
    }

    .installer_sub {
        color: rgba(white, 0.85);
        position: absolute;
        bottom: -23px;
        font-size: 13px;
        text-align: center;
        left: 0;
        right: 0;
    }
}

.content {
    p, ul {
        margin: 0 0 27px 0;
        line-height: 27px;
    }

    p, li {
        code {
            font-size: 16px;
            background: rgba(0,0,0, 0.1);

            padding: 2px 4px;
            margin: 0 4px;
            border-radius: 2px;

            @include mobile_width {
                font-size: 14px;
            }
        }
    }

    .box {
        max-width: $site_width;
        margin: 60px auto;
    }

    .video_embed {
        margin-bottom: 20px;
    }

    .dotdotdot {
        font-weight: bold;
        display: block;
        font-size: 60px;
        color: rgba(73, 105, 82, 0.2);
        text-align: center;
        position: relative;
        height: 20px;
        line-height: 14px;
    }

    .bottom_buttons {
        text-align: center;
    }

    .top_row {
        margin-top: 25px;
        text-align: center;

        a {
            color: #666;
            text-decoration: none;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #707BBD;
    color: lighten(#707BBD, 30%);
    font-size: 18px;
    line-height: 52px;

    .right {
        font-size: 14px;
        float: right;
    }

    a {
        color: lighten(#677, 40%);
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .dot {
        color: lighten(#677, 40%);
    }

    .inner {
        width: $site_width;
        margin: 0 auto;
    }
}


pre {
    background: $code_bg;
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 25px;
    margin: 0;
    border-radius: 2px;
}

.changelog {
    ul {
        line-height: 1.5;
        margin-bottom: 40px;

        li {
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 1060px) {
  #forkme {
      display: none;
  }
}


.split_columns {
    font-size: 0;

    pre  {
        width: 600px;
    }
}

.content_column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    .column_inner {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

.left_column {
    text-align: right;
    .column_inner {
        margin-right: 10px;
    }
}

.right_column {
    .column_inner {
        margin-left: 10px;
    }
}

.gplus {
    display: none;
}

@media all and (max-width: 1340px) {
    .lang_headers {
        .lang_header {
            border: 0 !important;

            &.lua_header {
                display: none;
            }

            .lang_toggle {
                display: inline-block;
            }
        }
    }

    .content_column {
        width: auto;
        display: block;
        text-align: center;

        .column_inner {
            margin-left: 0;
            margin-right: 0;
            display: block;
            padding: 0 40px;

            pre {
                width: auto;
                max-width: $site_width;
                margin: 0 auto;
            }
        }

        &.lua_column {
            display: none;
        }
    }


    body.show_lua {
        .lang_header {
            &.lua_header {
                display: inline-block;
            }

            &.moon_header {
                display: none;
            }
        }

        .content_column {
            &.lua_column {
                display: block;
            }

            &.moon_column {
                display: none;
            }
        }
    }
}

.searcher {
    margin: 20px auto 0 auto;
    width: $site_width;

    .search_input {
        box-shadow: 0 1px 4px rgba(60, 60, 60, 0.17);
    }
}
