
$bg: lighten(#D0EAD9, 2%);

$font_size: 18px;
$border_color: #b6d3b6;

$site_width: 800px;

$green: #70BD70;
$mid_green: #70BD86;

$link_color: mix(#DA0057, $green, 50%);

$text_color: #4C4E4C;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);

@function grid_width($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    @return floor($size * (($width - (($divisions - 1) * $gutter)) / $divisions) + ($size - 1) * $gutter);
}

@mixin grid_cell($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    width: grid_width($size, $divisions, $gutter, $width);
    margin-right: $gutter;

    &:last-child, &.last {
        margin-right: 0;
    }
}

::selection {
    background: #0CF;
    color: white;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%, $flip: false) {
    @if ($flip) {
        @include grad(darken($color, $amount), $color);
    } @else {
        @include grad($color, darken($color, $amount));
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: white;
    color: $text_color;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;
}

a {
    color: $link_color;
    &:hover {
        opacity: 0.8;
    }
}

.lang_headers {
    @include transition(box-shadow 0.5s ease);
    background: $bg;
    margin-bottom: 30px;
    text-align: center;

    &.is_stuck {
        box-shadow: 0 2px 0 $border_color;
        z-index: 1;
    }

    .label {
        display: inline-block;
        vertical-align: middle;
    }

    .lang_toggle {
        @include transition(all 0.2s ease);
        @include unselectable;
        display: none;
        font-size: 16px;
        padding: 5px 10px;
        margin-left: 10px;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;

        border: 1px solid $border_color;
        border-radius: 4px;

        &:hover {
            background: #667777;
            border-color: #667777;
            color: white;
        }

        &:active {
            background: darken(#667777, 20%);
        }
    }

    .lang_header {
        display: inline-block;
        text-align: center;
        font-size: 24px;
        width: 650px;
        vertical-align: top;
        padding: 10px 0;
        margin: 0;

        &:first-child {
            border-right: 2px solid $border_color;
        }
    }
}

code, pre {
    font-family: Inconsolata, monospace;
}

.sub_header {
    background: $bg;
    text-align: center;
    padding: 10px 20px;
}

.header {
    background: $mid_green;
    background: linear-gradient(45deg, $green, adjust-hue($green, 40deg));
    padding: 40px 0 45px 0;

    .inner {
        height: 234px;
        width: $site_width;
        margin: 0 auto;
        position: relative;
    }

    .button {
        @include unselectable;
        @include border_box;
        display: inline-block;
        margin: 0 6px;

        color: white;
        text-decoration: none;
        color: white;
        border: 2px solid white;
        border-radius: 4px;
        height: 48px;
        line-height: 44px;
        padding: 0 15px;
        vertical-align: top;

        img {
            height: 24px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
        }

        &:hover {
            background: rgba(white, 0.1);
        }

        &:active {
            background: rgba(black, 0.1);
        }

    }

    .version_flag {
        position: absolute;
        background: rgba(155, 244, 150, 0.7);
        font-weight: bold;
        font-size: 16px;
        color: white;
        padding: 10px;
        border-radius: 4px;
        right: 90px;
        top: 38px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .window_frame {
        overflow: hidden;

        width: 320px;
        height: 200px;
        float: left;

        margin-top: 10px;
        margin-right: 30px;

        background: #EDECEB;

        box-shadow: inset 0 0 0 1px #6D6A68, inset 2px 0 0 white, inset 0 0 0 2px #D2D0CE;
        border-radius: 4px 4px 0 0;

        .window_title {
            $border: #455D7C;
            $top_highlight: #B2CCED;
            $left_side_highlight: #9EBDE5;
            $right_side_highlight: #7BA2D3;
            $bottom_shadow: #4E76A8;
            $text_outline: #4E77AB;

            border: 1px solid $border;
            border-bottom: 0;

            border-radius: 4px 4px 0 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 22px;
            line-height: 22px;
            background: #99BAE3;
            @include grad(#99BAE3, #7AA1D1);

            box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
            color: white;
            text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
        }

        &.pink {
            .window_title {
                $border: #94487A;
                $top_highlight: #F3B3DD;
                $left_side_highlight: #EDA1D3;
                $right_side_highlight: #DE7EBD;
                $bottom_shadow: #BA5096;
                $text_outline: #BD5198;

                border: 1px solid $border;
                border-bottom: 0;

                background: #EB99CF;
                @include grad(#EB99CF, #DE7EBD);

                box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
                text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
            }
        }
    }

    .animation {
        width: 312px;
        height: 169px;
        overflow: hidden;
        margin: 4px;
    }

    h1 {
        margin: 0;
        font-size: 120px;
        position: relative;
        left: -7px;
        color: rgba(white, 0.9);

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    h2 {
        margin: 0px 0 4px 0;
        font-weight: normal;
        font-size: 18px;
        color: rgba(white, 0.7);

        a {
            text-decoration: none;
            font-style: italic;
            color: white;
        }
    }

    .social_buttons {
        margin-top: 15px;
    }

    .button_row {
        text-align: center;
    }
}

.new_banner {
    background: lighten(#C8F0CE, 5%);
    border-bottom: 2px solid #C8F0CE;

    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.button {
    // @include unselectable;
    // display: inline-block;
    // font-weight: bold;
    // $btn_color: #C9518F;

    // padding: 10px;
    // text-decoration: none;
    // color: white !important;
    // background: $btn_color;
    // @include autograd(lighten($btn_color, 5%), $flip: true);
    // border: 1px solid darken($btn_color, 10%);
    // box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 5px 0 darken($btn_color, 15%), 0 5px 5px rgba(0,0,0, 0.8);

    // border-radius: 2px;
    // text-shadow: 1px 1px 1px darken($btn_color, 20%);
    // margin: 0 6px 20px 6px;

    // &:hover {
    //     @include autograd(lighten($btn_color, 7%), $flip: true);
    // }

    // &:active {
    //     position: relative;
    //     top: 3px;
    //     @include autograd(lighten($btn_color, 2%), $flip: true);
    //     box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 2px 0 darken($btn_color, 15%), 0 2px 5px rgba(0,0,0, 0.8);
    // }
}


.installer {
    $installer_height: 48px;

    vertical-align: top;
    display: inline-block;
    text-align: left;
    margin: 0 6px;

    // background: rgba(#333, 0.8);
    background: #3C3C3C;
    color: white;
    font-size: 0;

    border-radius: 2px;

    .install_label, .install_promp {
        font-size: $font_size;
        display: inline-block;
        vertical-align: top;
        padding: 0 12px;
        line-height: $installer_height;
        height: $installer_height;
    }

    .install_label {
        background: lighten(mix($mid_green, #3C3C3C, 20%), 4%);
        text-shadow: 1px 1px 2px darken(#677, 30%);
        border-radius: 2px 0 0 2px;
    }

    .install_promp {
        &:before {
            font-family: Inconsolata, monospace;
            content: "$ ";
            color: #ff9898;
        }
    }
}

.content {
    p, ul {
        margin: 0 0 27px 0;
        line-height: 27px;
    }

    .box {
        max-width: $site_width;
        margin: 60px auto;
    }

    .video_embed {
        margin-bottom: 20px;
    }

    .dotdotdot {
        font-weight: bold;
        display: block;
        font-size: 60px;
        color: rgba(73, 105, 82, 0.2);
        text-align: center;
        position: relative;
        height: 20px;
        line-height: 14px;
    }

    .bottom_buttons {
        text-align: center;
    }

    .top_row {
        margin-top: 25px;
        text-align: center;

        a {
            color: #666;
            text-decoration: none;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #667777;
    color: lighten(#677, 20%);
    font-size: 18px;
    line-height: 52px;

    .right {
        font-size: 14px;
        float: right;
    }

    a {
        color: lighten(#677, 40%);
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .dot {
        color: lighten(#677, 40%);
    }

    .inner {
        width: $site_width;
        margin: 0 auto;
    }
}


pre {
    background: #3C3C3C;
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 25px;
    margin: 0;
    border-radius: 2px;
}

.highlight {
    /* builtins */
    .nb {
        color: #F69385; // new
    }

    /* strings */
    .s, .s1, .s2, .se {
        color: #F1BF8E; // new
    }

    /* proper names, self */
    .nc, .vc, .bp {
        color: #99CBCA; // new
    }

    /* true, false, nil */
    .kc {
        color: #B3EFE5; // new
    }

    /* function lit, braces, parens  */
    .nf, .kt {
        color: #B0D89C; // new
    }

    /* operators */
    .o, .si {
        color: #F277A1; // new
    }

    .nv {
        color: #F277A1; // new
    }

    /* keywords */
    .k, .kd {
        color: #BB84B4; // new
    }

    .c1, .c2 {
        color: #929292;
    }

    // numbers
    .m, .mi, .mf, .mh {
        color: #9D8FF2; // new
    }
}

.changelog {
    ul {
        line-height: 1.5;
        margin-bottom: 40px;

        li {
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 1060px) {
  #forkme {
      display: none;
  }
}


.split_columns {
    font-size: 0;

    pre  {
        width: 600px;
    }
}

.content_column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    .column_inner {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

.left_column {
    text-align: right;
    .column_inner {
        margin-right: 10px;
    }
}

.right_column {
    .column_inner {
        margin-left: 10px;
    }
}

.gplus {
    display: none;
}

@media all and (max-width: 1340px) {
    .lang_headers {
        .lang_header {
            border: 0 !important;

            &.lua_header {
                display: none;
            }

            .lang_toggle {
                display: inline-block;
            }
        }
    }

    .content_column {
        width: auto;
        display: block;
        text-align: center;

        .column_inner {
            margin-left: 0;
            margin-right: 0;
            display: block;
            padding: 0 40px;
            
            pre {
                width: auto;
                max-width: $site_width;
                margin: 0 auto;
            }
        }

        &.lua_column {
            display: none;
        }
    }


    body.show_lua & {
        .lang_header {
            &.lua_header {
                display: inline-block;
            }

            &.moon_header {
                display: none;
            }
        }

        .content_column {
            &.lua_column {
                display: block;
            }

            &.moon_column {
                display: none;
            }
        }
    }
}

