
$bg: lighten(#EAFFEA, 2%);
$bg2: #BAF3BA;

$font_size: 18px;
$link_color: #DA0057;

$site_width: 800px;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);

@function grid_width($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    @return floor($size * (($width - (($divisions - 1) * $gutter)) / $divisions) + ($size - 1) * $gutter);
}

@mixin grid_cell($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    width: grid_width($size, $divisions, $gutter, $width);
    margin-right: $gutter;

    &:last-child, &.last {
        margin-right: 0;
    }
}

::selection {
    background: #0CF;
    color: white;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%, $flip: false) {
    @if ($flip) {
        @include grad(darken($color, $amount), $color);
    } @else {
        @include grad($color, darken($color, $amount));
    }
}


body {
    background: $bg;
    color: #222;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;

    &.show_lua {
        .lang_lua {
            display: block;
        }

        .lang_moon {
            display: none;
        }
    }
}

.lang_lua {
    display: none;
}

.sticky_bar {
    $sticky_height: 50px;
    position: fixed;
    top: -($sticky_height + 5);
    left: 0;
    right: 0;

    background: #667777;
    border-bottom: 1px solid darken(#667777, 10%);
    box-shadow: 0 3px 0 rgba(0,0,0, 0.25);
    color: white;
    height: $sticky_height;

    -webkit-transition: top 0.20s ease-in-out;
    -moz-transition: top 0.20s ease-in-out;
    transition: top 0.20s ease-in-out;

    &.open {
        top: 0;
    }

    .sticky_bar_inner {
        width: $site_width;
        margin: 0 auto;
    }

    .sticky_social {
        float: right;
        margin-top: 16px;
    }

    .sticky_header {
        font-weight: bold;
        margin-right: 10px;
        font-size: 32px;
        margin-top: 3px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .sticky_lang {
        margin-top: 10px;
    }

    .sticky_header, .sticky_lang {
        display: inline-block;
        vertical-align: top;
    }
}

.lang_picker {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    font-size: 0;
    margin-left: 10px;

    .picker {
        display: inline-block;
        font-size: $font_size;
        cursor: pointer;
        padding: 0 12px;

        background: darken(#667777, 10%);
        color: lighten(#667777, 30%);

        box-shadow: 0 1px 0 rgba(255,255,255,0.2);

        &.current {
            background: lighten(#667777, 20%);
            color: white;
            text-shadow: 1px 1px 1px #545C5C;
        }
    }

    > :first-child {
        border-radius: 6px 0 0 6px;
    }

    > :last-child {
        border-radius: 0 6px 6px 0;
    }
}


code, pre {
    font-family: Inconsolata, monospace;
}

.header {
    background: url("img/arches.png") 50% 0;

    .inner {
        padding-top: 10px;
        height: 234px;
        width: $site_width;
        margin: 0 auto;
        position: relative;
    }

    .version_flag {
        position: absolute;
        background: rgba(255, 192, 203, 0.56);
        color: darken(pink, 20%);
        padding: 10px;
        border-radius: 4px;
        right: 117px;
        top: 38px;

        a {
            color: darken(pink, 20%);
            text-decoration: none;

            &:hover {
                color: darken(pink, 16%);
            }
        }
    }

    .window_frame {
        overflow: hidden;

        width: 320px;
        height: 200px;
        float: left;

        margin-top: 10px;
        margin-right: 20px;

        background: #EDECEB;

        box-shadow: inset 0 0 0 1px #6D6A68, inset 2px 0 0 white, inset 0 0 0 2px #D2D0CE, 0 0 10px rgba(0,0,0, 0.5);
        border-radius: 4px 4px 0 0;

        .window_title {
            $border: #455D7C;
            $top_highlight: #B2CCED;
            $left_side_highlight: #9EBDE5;
            $right_side_highlight: #7BA2D3;
            $bottom_shadow: #4E76A8;
            $text_outline: #4E77AB;

            border: 1px solid $border;
            border-bottom: 0;

            border-radius: 4px 4px 0 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 22px;
            line-height: 22px;
            background: #99BAE3;
            @include grad(#99BAE3, #7AA1D1);

            box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
            color: white;
            text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
        }

        &.pink {
            .window_title {
                $border: #94487A;
                $top_highlight: #F3B3DD;
                $left_side_highlight: #EDA1D3;
                $right_side_highlight: #DE7EBD;
                $bottom_shadow: #BA5096;
                $text_outline: #BD5198;

                border: 1px solid $border;
                border-bottom: 0;

                background: #EB99CF;
                @include grad(#EB99CF, #DE7EBD);

                box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
                text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
            }
        }
    }

    .animation {
        width: 312px;
        height: 169px;
        overflow: hidden;
        margin: 4px;
    }

    h1 {
        margin: 0;
        font-size: 120px;
        position: relative;
        left: -7px;

        a {
            color: #222;
            text-decoration: none;
            &:hover {
                color: lighten(#222, 5%);
            }
        }
    }

    h2 {
        margin: 0px 0 4px 0;
        font-weight: normal;
        font-size: 18px;
        color: #666;

        a {
            text-decoration: none;
            font-style: italic;
            color: #222;
        }
    }

    .social_buttons {
        display: inline-block;
        padding: 4px 0px;
    }
}

.new_banner {
    background: lighten(#C8F0CE, 5%);
    border-bottom: 2px solid #C8F0CE;

    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.content {
    border-top: 1px solid desaturate(#acd9ce, 10%);

    .button_row, .has_buttons {
        .button {
            display: inline-block;
            font-weight: bold;
            $btn_color: #C9518F;

            padding: 10px;
            text-decoration: none;
            color: white;
            background: $btn_color;
            @include autograd(lighten($btn_color, 5%), $flip: true);
            border: 1px solid darken($btn_color, 10%);
            box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 5px 0 darken($btn_color, 15%), 0 5px 5px rgba(0,0,0, 0.8);

            border-radius: 2px;
            text-shadow: 1px 1px 1px darken($btn_color, 20%);
            margin: 0 6px;

            &:active {
                position: relative;
                top: 3px;
                box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 2px 0 darken($btn_color, 15%), 0 2px 5px rgba(0,0,0, 0.8);
            }
        }
    }

    .button_row {
        $bg_color: #C8F0CE;

        text-align: center;
        background: $bg_color;
        border-top: 1px solid #F4FFF4;
        border-bottom: 1px solid darken($bg_color, 10%);
        box-shadow: 0 1px 0 white;
        padding-bottom: 8px;

        .button_offset {
            position: relative;
            top: -6px;
        }

        .line {
            display: inline-block;
            margin: 0 4px;
            background: desaturate(darken($bg_color, 10%), 20%);
            box-shadow: 0 1px 0 rgba(255,255,255, 0.8);
            height: 1px;
            width: 100px;
        }

    }

    .install_row {
        margin: 0 auto;
        padding: 10px 0;
        background: #313131 url("img/escheresque_ste.png") 50% 0;
        border-bottom: 1px solid white;
        box-shadow: inset 0 0 10px black, 0 1px 0 rgba(0,0,0, 0.2);
        text-align: center;

        .installer {
            vertical-align: top;
            display: inline-block;
            text-align: left;
            // min-width: $site_width;

            background: #333;
            color: white;
            font-size: 0;
            text-align: left;

            box-shadow: 0px 1px 3px rgba(0,0,0, 0.7), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
            border-radius: 2px;
            border: 1px solid #222;


            .install_label, .install_promp {
                font-size: $font-size;
                display: inline-block;
                vertical-align: top;
                padding: 10px;
            }

            .install_label {
                text-align: right;
                box-shadow: inset 0 0 0 1px lighten(#677, 15%);
                background: #677;
                text-shadow: 1px 1px 2px darken(#677, 30%);
            }

            .install_promp {
                &:before {
                    font-family: Inconsolata, monospace;
                    content: "$ ";
                    color: #ff9898;
                }
            }
        }

    }

    .inner {
        width: $site_width;
        margin: 0 auto;
        // background: white;
        // padding: 20px;
        // border: 1px solid #9DBE9D;
        margin-top: 20px;

        a {
            color: $link_color;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    h3 {
        color: #667066;
        text-shadow: 1px 1px 0 white;
        margin: 10px 0 10px 0;
        font-size: 36px;

        .decor {
            color: #ADB8AD;
            font-weight: normal;
        }
    }

    p {
        margin: 10px 0;
        line-height: 26px;
    }


    .box {
        background: white;
        box-shadow: 0 0 0 1px rgba(255,255,255, 0.8), 0 0 20px rgba(0,0,0, 0.2);
        border: 2px solid darken(#D6E6D6, 10%);
        border-radius: 2px;
        padding: 20px 40px;
        margin: 0 0 20px 0;

        &.only_box {
            margin-bottom: 200px;
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .video_embed {
        margin-bottom: 20px;
    }

    pre {
        margin: 0 0 20px 0;
        padding: 25px 40px;
    }
    
    .dotdotdot {
        font-weight: bold;
        display: block;
        font-size: 60px;
        color: #C3CAC3;
        text-align: center;
        position: relative;
        top: -28px;
    }

    .bottom_buttons {
        text-align: center;
    }

    .top_row {
        margin-top: 25px;
        text-align: center;

        a {
            color: #666;
            text-decoration: none;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #667777;
    color: lighten(#677, 20%);
    text-shadow: 1px 1px 2px  #425757;
    font-size: 16px;
    line-height: 22px;

    border-top: 1px solid #D7E4E4;
    box-shadow: 0 -1px 0 rgba(0,0,0, 0.2);

    .right {
        font-size: 12px;
        float: right;
    }

    a {
        color: lighten(#677, 40%);
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    .dot {
        color: lighten(#677, 40%);
    }

    .inner {
        width: $site_width;
        margin: 0 auto;
        padding: 6px 0;

        img {
            vertical-align: middle;
        }
    }

    .texture {
        height: 20px;
        background: #313131 url("img/escheresque_ste.png") 50% 0;
        box-shadow: inset 0 0 10px black;
    }
}


pre {
    background: #333;
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0,0,0, 0.7), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border: 1px solid #222;
}

.highlight {
    // builtins
    .nb {
        color: #FFA67C;
    }

    // strings
    .s, .s1, .s2, .se, .nt {
        color: #ffe898;
    }

    // proper names
    .nc, .vc, .bp {
        color: #98d9ff;
    }

    // true, false, nil
    .kc {
        color: #acfff0;
    }

    // function lit, braces, parens
    .nf, .kt {
        color: #9fff98;
    }

    .nv {
        color: #ff9898;
    }

    // keywords
    .k, .kd, .na {
        color: #cb98ff;
    }

    .c1, .c2 {
        color: #929292;
    }

    .m, .mi, .mf, .mh, .o {
        color: #9495ff;
    }

    .si {
        color: #ECA558;
    }
}

.changelog {
    ul {
        line-height: 1.5;
        margin-bottom: 40px;

        li {
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 1060px) {
  #forkme {
      display: none;
  }
}


