
$bg: lighten(#EAFFEA, 2%);
$bg2: #BAF3BA;

$font_size: 18px;
$link_color: #DA0057;
$border_color: #b6d3b6;

$site_width: 800px;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);

@function grid_width($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    @return floor($size * (($width - (($divisions - 1) * $gutter)) / $divisions) + ($size - 1) * $gutter);
}

@mixin grid_cell($size, $divisions: 8, $gutter: 20px, $width: $site_width) {
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    width: grid_width($size, $divisions, $gutter, $width);
    margin-right: $gutter;

    &:last-child, &.last {
        margin-right: 0;
    }
}

::selection {
    background: #0CF;
    color: white;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%, $flip: false) {
    @if ($flip) {
        @include grad(darken($color, $amount), $color);
    } @else {
        @include grad($color, darken($color, $amount));
    }
}


body {
    background: $bg;
    color: #222;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;
}

.sticky_bar {
    $sticky_height: 50px;
    position: fixed;
    top: -($sticky_height + 5);
    left: 0;
    right: 0;

    background: #667777;
    border-bottom: 1px solid darken(#667777, 10%);
    box-shadow: 0 3px 0 rgba(0,0,0, 0.25);
    color: white;
    height: $sticky_height;

    -webkit-transition: top 0.20s ease-in-out;
    -moz-transition: top 0.20s ease-in-out;
    transition: top 0.20s ease-in-out;

    &.open {
        top: 0;
    }

    .sticky_bar_inner {
        width: $site_width;
        margin: 0 auto;
    }

    .sticky_social {
        float: right;
        margin-top: 16px;
    }

    .sticky_header {
        font-weight: bold;
        margin-right: 10px;
        font-size: 32px;
        margin-top: 3px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .sticky_lang {
        margin-top: 10px;
    }

    .sticky_header, .sticky_lang {
        display: inline-block;
        vertical-align: top;
    }
}

.lang_picker {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    font-size: 0;
    margin-left: 10px;

    .picker {
        display: inline-block;
        font-size: $font_size;
        cursor: pointer;
        padding: 0 12px;

        background: darken(#667777, 10%);
        color: lighten(#667777, 30%);

        box-shadow: 0 1px 0 rgba(255,255,255,0.2);

        &.current {
            background: lighten(#667777, 20%);
            color: white;
            text-shadow: 1px 1px 1px #545C5C;
        }
    }

    > :first-child {
        border-radius: 6px 0 0 6px;
    }

    > :last-child {
        border-radius: 0 6px 6px 0;
    }
}


code, pre {
    font-family: Inconsolata, monospace;
}

.header {
    background: url("img/arches.png") 50% 0;

    .inner {
        padding-top: 10px;
        height: 234px;
        width: $site_width;
        margin: 0 auto;
        position: relative;
    }

    .version_flag {
        position: absolute;
        background: rgba(255, 192, 203, 0.56);
        color: darken(pink, 20%);
        padding: 10px;
        border-radius: 4px;
        right: 90px;
        top: 38px;

        a {
            color: darken(pink, 20%);
            text-decoration: none;

            &:hover {
                color: darken(pink, 16%);
            }
        }
    }

    .window_frame {
        overflow: hidden;

        width: 320px;
        height: 200px;
        float: left;

        margin-top: 10px;
        margin-right: 30px;

        background: #EDECEB;

        box-shadow: inset 0 0 0 1px #6D6A68, inset 2px 0 0 white, inset 0 0 0 2px #D2D0CE, 0 0 10px rgba(0,0,0, 0.5);
        border-radius: 4px 4px 0 0;

        .window_title {
            $border: #455D7C;
            $top_highlight: #B2CCED;
            $left_side_highlight: #9EBDE5;
            $right_side_highlight: #7BA2D3;
            $bottom_shadow: #4E76A8;
            $text_outline: #4E77AB;

            border: 1px solid $border;
            border-bottom: 0;

            border-radius: 4px 4px 0 0;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 22px;
            line-height: 22px;
            background: #99BAE3;
            @include grad(#99BAE3, #7AA1D1);

            box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
            color: white;
            text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
        }

        &.pink {
            .window_title {
                $border: #94487A;
                $top_highlight: #F3B3DD;
                $left_side_highlight: #EDA1D3;
                $right_side_highlight: #DE7EBD;
                $bottom_shadow: #BA5096;
                $text_outline: #BD5198;

                border: 1px solid $border;
                border-bottom: 0;

                background: #EB99CF;
                @include grad(#EB99CF, #DE7EBD);

                box-shadow: inset 0 1px 0 0 $top_highlight, inset 1px 0 0 $left_side_highlight, inset -1px 0 0 $right_side_highlight, 0 2px 0 -1px $bottom_shadow;
                text-shadow: 1px 1px 0 $text_outline, 1px -1px $text_outline, -1px -1px $text_outline, -1px 1px $text_outline;
            }
        }
    }

    .animation {
        width: 312px;
        height: 169px;
        overflow: hidden;
        margin: 4px;
    }

    h1 {
        margin: 0;
        font-size: 120px;
        position: relative;
        left: -7px;

        a {
            color: #222;
            text-decoration: none;
            &:hover {
                color: lighten(#222, 5%);
            }
        }
    }

    h2 {
        margin: 0px 0 4px 0;
        font-weight: normal;
        font-size: 18px;
        color: #666;

        a {
            text-decoration: none;
            font-style: italic;
            color: #222;
        }
    }

    .social_buttons {
        display: inline-block;
        padding: 4px 0px;
    }

    .button_row {
        text-align: center;
    }
}

.new_banner {
    background: lighten(#C8F0CE, 5%);
    border-bottom: 2px solid #C8F0CE;

    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.button {
    @include unselectable;
    display: inline-block;
    font-weight: bold;
    $btn_color: #C9518F;

    padding: 10px;
    text-decoration: none;
    color: white !important;
    background: $btn_color;
    @include autograd(lighten($btn_color, 5%), $flip: true);
    border: 1px solid darken($btn_color, 10%);
    box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 5px 0 darken($btn_color, 15%), 0 5px 5px rgba(0,0,0, 0.8);

    border-radius: 2px;
    text-shadow: 1px 1px 1px darken($btn_color, 20%);
    margin: 0 6px 20px 6px;

    &:hover {
        @include autograd(lighten($btn_color, 7%), $flip: true);
    }

    &:active {
        position: relative;
        top: 3px;
        @include autograd(lighten($btn_color, 2%), $flip: true);
        box-shadow: inset 0 1px 0 lighten($btn_color, 10%), 0 1px 0 darken($btn_color, 8%), 0 2px 0 darken($btn_color, 15%), 0 2px 5px rgba(0,0,0, 0.8);
    }
}


.installer {
    $installer_height: 48px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    margin: 0 6px;

    background: #333;
    color: white;
    font-size: 0;

    // box-shadow: 0px 1px 3px rgba(0,0,0, 0.7), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border: 1px solid #222;


    .install_label, .install_promp {
        font-size: $font_size;
        display: inline-block;
        vertical-align: top;
        padding: 0 12px;
        line-height: $installer_height;
        height: $installer_height;
    }

    .install_label {
        box-shadow: inset 0 0 0 1px lighten(#677, 15%);
        background: #677;
        text-shadow: 1px 1px 2px darken(#677, 30%);
    }

    .install_promp {
        &:before {
            font-family: Inconsolata, monospace;
            content: "$ ";
            color: #ff9898;
        }
    }
}

.content {
    border-top: 2px solid $border_color;

    a {
        color: $link_color;
        &:hover {
            opacity: 0.8;
        }
    }

    h3 {
        color: #667066;
        text-shadow: 1px 1px 0 white;
        margin: 10px 0 10px 0;
        font-size: 36px;

        .decor {
            color: #ADB8AD;
            font-weight: normal;
            display: none;
        }
    }

    p {
        margin: 10px 0;
        line-height: 26px;
    }


    .box {
        width: $site_width;
        margin: 20px auto 20px auto;
        background: white;
        border: 2px solid $border_color;
        border-radius: 2px;
        padding: 20px 40px;

        &.only_box {
            margin-bottom: 200px;
        }

        h3 {
            margin-bottom: 20px;
        }
    }

    .video_embed {
        margin-bottom: 20px;
    }

    .dotdotdot {
        font-weight: bold;
        display: block;
        font-size: 60px;
        color: rgba(73, 105, 82, 0.2);
        text-align: center;
        position: relative;
        top: -16px;
    }

    .bottom_buttons {
        text-align: center;
    }

    .top_row {
        margin-top: 25px;
        text-align: center;

        a {
            color: #666;
            text-decoration: none;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #667777;
    color: lighten(#677, 20%);
    font-size: 18px;
    line-height: 52px;
    border-top: 2px solid desaturate(darken(#667777, 10%), 10%);

    .right {
        font-size: 14px;
        float: right;
    }

    a {
        color: lighten(#677, 40%);
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .dot {
        color: lighten(#677, 40%);
    }

    .inner {
        width: $site_width;
        margin: 0 auto;
    }
}


pre {
    background: #333;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 20px 0;
    padding: 25px;
}

.highlight {
    // builtins
    .nb {
        color: #FFA67C;
    }

    // strings
    .s, .s1, .s2, .se, .nt {
        color: #ffe898;
    }

    // proper names
    .nc, .vc, .bp {
        color: #98d9ff;
    }

    // true, false, nil
    .kc {
        color: #acfff0;
    }

    // function lit, braces, parens
    .nf, .kt {
        color: #9fff98;
    }

    .nv {
        color: #ff9898;
    }

    // keywords
    .k, .kd, .na {
        color: #cb98ff;
    }

    .c1, .c2 {
        color: #929292;
    }

    .m, .mi, .mf, .mh, .o {
        color: #9495ff;
    }

    .si {
        color: #ECA558;
    }
}

.changelog {
    ul {
        line-height: 1.5;
        margin-bottom: 40px;

        li {
            margin-bottom: 5px;
        }
    }
}

@media all and (max-width: 1060px) {
  #forkme {
      display: none;
  }
}

.split_columns {
    font-size: 0;

    pre  {
        width: 600px;
    }
}

.content_column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: $font_size;

    .column_inner {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
}

.left_column {
    text-align: right;
    .column_inner {
        margin-right: 10px;
    }
}

.right_column {
    .column_inner {
        margin-left: 10px;
    }
}

.gplus {
    display: none;
}



.lang_header {
    margin: 0 0 20px 0;
    background-color: #CBBBEA;
    padding: 4px 0;
    color: #4C435C;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}
