@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Inconsolata);
.searcher {
  position: relative; }
  .searcher .results_popup {
    position: absolute;
    background: white;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 5px;
    margin-left: -1px;
    margin-right: -1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #70b6bd;
    border-radius: 3px;
    overflow: hidden; }
    @media (max-width: 600px) {
      .searcher .results_popup {
        left: 10px;
        right: 10px;
        top: 50px;
        max-height: calc(100vh - 75px);
        overflow: auto;
        position: fixed; } }
    .searcher .results_popup .result_row {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px 15px;
      line-height: 20px;
      color: rgba(51, 51, 52, 0.6); }
      .searcher .results_popup .result_row .result_sub {
        margin-left: 10px;
        font-size: 14px; }
      .searcher .results_popup .result_row.selected {
        background-color: rgba(232, 215, 237, 0.4); }
  .searcher .search_input {
    font-family: Lato;
    border: 1px solid #70b6bd;
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box; }
    .searcher .search_input:focus {
      outline: none;
      box-shadow: 0 0 0 1px #70b6bd; }

.highlight .sh_keyword {
  color: #BB84B4; }

.highlight .sh_string {
  color: #F1BF8E; }

.highlight .sh_operator {
  color: #F277A1; }

.highlight .sh_fndef, .highlight .sh_preprocessor, .highlight .sh_symbol, .highlight .sh_embedded, .highlight .sh_library {
  color: #B0D89C; }

.highlight .sh_class, .highlight .sh_self_ref, .highlight .sh_label {
  color: #99CBCA; }

.highlight .sh_tbl_key, .highlight .sh_regex {
  color: #F277A1; }

.highlight .sh_comment {
  color: #929292; }

.highlight .sh_number {
  color: #9D8FF2; }

.highlight .sh_function {
  color: #F69385; }

.highlight {
  /* builtins */
  /* strings */
  /* proper names, self */
  /* true, false, nil */
  /* function lit, braces, parens  */
  /* operators */
  /* keywords */ }
  .highlight .nb, .highlight .nt {
    color: #F69385; }
  .highlight .s, .highlight .s1, .highlight .s2, .highlight .se {
    color: #F1BF8E; }
  .highlight .nc, .highlight .vc, .highlight .bp {
    color: #99CBCA; }
  .highlight .kc {
    color: #B3EFE5; }
  .highlight .nf, .highlight .kt, .highlight .na, .highlight .p {
    color: #B0D89C; }
  .highlight .o, .highlight .si {
    color: #F277A1; }
  .highlight .nv, .highlight .ow {
    color: #F277A1; }
  .highlight .k, .highlight .kd {
    color: #BB84B4; }
  .highlight .c1, .highlight .c2, .highlight .c {
    color: #929292; }
  .highlight .m, .highlight .mi, .highlight .mf, .highlight .mh {
    color: #9D8FF2; }

::selection {
  background: #0CF;
  color: white; }

body {
  background: white;
  color: #333334;
  font-size: 18px;
  margin: 0;
  font-family: Lato, sans-serif; }

h1 {
  font-weight: 900; }

a {
  color: #a55f64; }
  a:hover {
    opacity: 0.8; }

.content .chat_banner {
  display: flex;
  align-items: center;
  box-sizing: border-box; }
  .content .chat_banner > svg {
    margin-right: 5px;
    opacity: 0.6; }
  .content .chat_banner > p {
    margin: 0; }

.lang_headers {
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: sticky;
  box-shadow: 0 0 0 1px #dadada;
  webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  top: 0; }
  .lang_headers .lang_toggle {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: none;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #70b6bd;
    border-radius: 4px; }
    .lang_headers .lang_toggle:hover {
      background: #707BBD;
      border-color: #70B6BD;
      color: white; }
    .lang_headers .lang_toggle:active {
      background: #3f4988; }
  .lang_headers .lang_header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    flex: 1;
    min-width: 0;
    max-width: 650px;
    vertical-align: top;
    padding: 10px 0;
    margin: 0;
    font-weight: 900; }
    .lang_headers .lang_header:first-child {
      border-right: 1px solid #dadada; }

code, pre {
  font-family: Inconsolata, monospace; }

.sub_header {
  background: #e8d7ed;
  padding: 10px 20px; }
  .sub_header .inner {
    width: 800px;
    margin: 0 auto; }

.header {
  background: #7098bd;
  background: linear-gradient(45deg, #7079bd, #70b6bd);
  padding: 40px 0 45px 0; }
  .header .inner {
    width: 800px;
    margin: 0 auto 20px auto;
    position: relative;
    display: flex; }
    .header .inner .title_area {
      flex: 1;
      margin-left: 30px; }
  .header .button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    height: 48px;
    line-height: 44px;
    padding: 0 15px;
    vertical-align: top; }
    .header .button:last-child {
      margin-right: 0; }
    .header .button img {
      height: 24px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px; }
    .header .button:hover {
      background: rgba(255, 255, 255, 0.1); }
    .header .button:active {
      background: rgba(0, 0, 0, 0.1); }
  .header .version_flag {
    position: absolute;
    background: white;
    font-weight: bold;
    font-size: 16px;
    color: #7079bd;
    padding: 10px;
    border-radius: 4px;
    right: 90px;
    top: 38px; }
    .header .version_flag a {
      color: inherit;
      text-decoration: none; }
  .header .window_frame {
    width: 320px;
    height: 200px;
    background: #EDECEB;
    box-shadow: inset 0 0 0 1px #6D6A68, inset 2px 0 0 white, inset 0 0 0 2px #D2D0CE;
    border-radius: 4px 4px 0 0; }
    .header .window_frame .window_title {
      border: 1px solid #455D7C;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      height: 22px;
      line-height: 22px;
      background: #99BAE3;
      background-color: #8aaeda;
      background-image: linear-gradient(bottom, #7AA1D1 0%, #99BAE3 100%);
      background-image: -webkit-linear-gradient(bottom, #7AA1D1 0%, #99BAE3 100%);
      background-image: -moz-linear-gradient(bottom, #7AA1D1 0%, #99BAE3 100%);
      background-image: -o-linear-gradient(bottom, #7AA1D1 0%, #99BAE3 100%);
      background-image: -ms-linear-gradient(bottom, #7AA1D1 0%, #99BAE3 100%);
      box-shadow: inset 0 1px 0 0 #B2CCED, inset 1px 0 0 #9EBDE5, inset -1px 0 0 #7BA2D3, 0 2px 0 -1px #4E76A8;
      color: white;
      text-shadow: 1px 1px 0 #4E77AB, 1px -1px #4E77AB, -1px -1px #4E77AB, -1px 1px #4E77AB; }
    .header .window_frame.pink .window_title {
      border: 1px solid #94487A;
      border-bottom: 0;
      background: #EB99CF;
      background-color: #e58cc6;
      background-image: linear-gradient(bottom, #DE7EBD 0%, #EB99CF 100%);
      background-image: -webkit-linear-gradient(bottom, #DE7EBD 0%, #EB99CF 100%);
      background-image: -moz-linear-gradient(bottom, #DE7EBD 0%, #EB99CF 100%);
      background-image: -o-linear-gradient(bottom, #DE7EBD 0%, #EB99CF 100%);
      background-image: -ms-linear-gradient(bottom, #DE7EBD 0%, #EB99CF 100%);
      box-shadow: inset 0 1px 0 0 #F3B3DD, inset 1px 0 0 #EDA1D3, inset -1px 0 0 #DE7EBD, 0 2px 0 -1px #BA5096;
      text-shadow: 1px 1px 0 #BD5198, 1px -1px #BD5198, -1px -1px #BD5198, -1px 1px #BD5198; }
  .header .animation {
    width: 312px;
    height: 169px;
    overflow: hidden;
    margin: 4px; }
  .header h1 {
    margin: 0;
    font-size: 120px;
    position: relative;
    left: -7px;
    color: white; }
    .header h1 a {
      color: inherit;
      text-decoration: none; }
  .header h2 {
    margin: 0px 0 4px 0;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7); }
    .header h2 a {
      text-decoration: none;
      font-style: italic;
      color: white; }
  .header .button_row {
    width: 800px;
    margin: 0 auto;
    display: flex; }
    .header .button_row > .button {
      flex: 1; }

.new_banner {
  background: #dcf5e0;
  border-bottom: 2px solid #C8F0CE;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 25px; }

.installer {
  display: flex;
  text-align: left;
  margin-right: 10px;
  position: relative;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0;
  border-radius: 3px; }
  .installer .install_label, .installer .install_promp {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 48px; }
  .installer .install_label {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px 0 0 3px; }
  .installer .install_promp {
    flex: 1; }
    .installer .install_promp:before {
      font-family: Inconsolata, monospace;
      content: "$ ";
      margin-right: 5px;
      color: #ff9898; }
  .installer .installer_sub {
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: -23px;
    font-size: 13px;
    text-align: center;
    left: 0;
    right: 0; }

.content p, .content ul {
  margin: 0 0 27px 0;
  line-height: 27px; }

.content p code, .content li code {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 2px; }
  @media (max-width: 600px) {
    .content p code, .content li code {
      font-size: 14px; } }
.content .box {
  max-width: 800px;
  margin: 60px auto; }

.content .video_embed {
  margin-bottom: 20px; }

.content .dotdotdot {
  font-weight: bold;
  display: block;
  font-size: 60px;
  color: rgba(73, 105, 82, 0.2);
  text-align: center;
  position: relative;
  height: 20px;
  line-height: 14px; }

.content .bottom_buttons {
  text-align: center; }

.content .top_row {
  margin-top: 25px;
  text-align: center; }
  .content .top_row a {
    color: #666;
    text-decoration: none; }

.footer {
  margin-top: 20px;
  background: #707BBD;
  color: #d9dced;
  font-size: 18px;
  line-height: 52px; }
  .footer .right {
    font-size: 14px;
    float: right; }
  .footer a {
    color: #d1d8d8;
    text-decoration: none; }
    .footer a:hover {
      color: white; }
  .footer .dot {
    color: #d1d8d8; }
  .footer .inner {
    width: 800px;
    margin: 0 auto; }

pre {
  background: #3C3C3C;
  color: white;
  font-size: 18px;
  line-height: 22px;
  padding: 25px;
  margin: 0;
  border-radius: 2px; }

.changelog ul {
  line-height: 1.5;
  margin-bottom: 40px; }
  .changelog ul li {
    margin-bottom: 5px; }

@media all and (max-width: 1060px) {
  #forkme {
    display: none; } }

.split_columns {
  font-size: 0; }
  .split_columns pre {
    width: 600px; }

.content_column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px; }
  .content_column .column_inner {
    display: inline-block;
    vertical-align: top;
    text-align: left; }

.left_column {
  text-align: right; }
  .left_column .column_inner {
    margin-right: 10px; }

.right_column .column_inner {
  margin-left: 10px; }

.gplus {
  display: none; }

@media all and (max-width: 1340px) {
  .lang_headers .lang_header {
    border: 0 !important; }
    .lang_headers .lang_header.lua_header {
      display: none; }
    .lang_headers .lang_header .lang_toggle {
      display: inline-block; }
  .content_column {
    width: auto;
    display: block;
    text-align: center; }
    .content_column .column_inner {
      margin-left: 0;
      margin-right: 0;
      display: block;
      padding: 0 40px; }
      .content_column .column_inner pre {
        width: auto;
        max-width: 800px;
        margin: 0 auto; }
    .content_column.lua_column {
      display: none; }
  body.show_lua .lang_header.lua_header {
    display: inline-block; }
  body.show_lua .lang_header.moon_header {
    display: none; }
  body.show_lua .content_column.lua_column {
    display: block; }
  body.show_lua .content_column.moon_column {
    display: none; } }

.searcher {
  margin: 20px auto 0 auto;
  width: 800px; }
  .searcher .search_input {
    box-shadow: 0 1px 4px rgba(60, 60, 60, 0.17); }
