<div class="box">
  <div class="new_banner">
    <strong>July 23rd, 2014:</strong> Lapis v1.0.3 is released, read more on the <a href="$root/changelog.html">changelog</a>
  </div>

  <h3>What is it? <span class="decor">❧</span></h3>
$markdown{[[
Lapis is a framework for building web applications using [MoonScript](http://moonscript.org) or [Lua](http://lua.org) that runs inside of a customized version of [Nginx](http://nginx.org) called [OpenResty](http://openresty.org).
]]}
</div>

<div class="lang_headers">
  <h1 class="lang_header lua_header">
    <span class="label">Lua</span>
    <span class="lang_toggle" data-hash="lang=moonscript">View examples in MoonScript</span>
  </h1>
  <h1 class="lang_header moon_header">
    <span class="label">MoonScript</span>
    <span class="lang_toggle" data-hash="lang=lua">View examples in Lua</span>
  </h1>
</div>

<div class="split_columns">
  <div class="lua_column left_column content_column">
    <div class="column_inner">

$markdown{[[
```lua
local lapis = require "lapis"
local app = lapis.Application()

app:match("/", function(self)
  return "Hello world!"
end)

return app
```
]]}
    </div>
  </div>

  <div class="moon_column right_column content_column">
    <div class="column_inner">
$markdown{[[

```moon
lapis = require "lapis"

class extends lapis.Application
  "/": =>
    "Hello world!"
```
]]}

    </div>
  </div>
</div>

<iframe style="display: none" width="800" height="450" class="video_embed" src="//www.youtube.com/embed/Eo67iTY1Yf8" frameborder="0" allowfullscreen></iframe>

<div class="box">
  <h3>How does it work? <span class="decor">❧</span></h3>
$markdown{[[
Lua is run directly inside of the Nginx worker, giving you the smallest barrier
between the webserver and your code. OpenResty executes your Lua/MoonScript
with LuaJIT, so it's blazing fast. Have a look at [Web Framework
Benchmarks](http://www.techempower.com/benchmarks/#section=data-r3) just to see
how OpenResty stacks up against other platforms.

Nginx's event loop is used for all asynchronous actions, including HTTP
requests and database queries. With the power of Lua coroutines code is written
synchronously but runs asynchronously, without all that callback spaghetti seen
in other asynchronous platforms. It's fast, easy to read, and easy to write.

Perform HTTP requests and other asynchronous operations freely without being
concerned about blocking your application and killing your throughput.
]]}

</div>

<div class="dotdotdot">&times;</div>


<div class="box">
  <h3>What does it come with? <span class="decor">❧</span></h3>
$markdown{[[
Lapis includes URL routing, [HTML Templating][1], [CSRF Protection][2] and [Session][3]
support, [PostgreSQL backed models][4], [schema generation][5] and
[migrations][6] in addition to a [collection of useful functions][7] needed
when developing a website.

  [1]: $root/reference/html_generation.html
  [2]: $root/reference/utilities.html#csrf-protection
  [3]: $root/reference/actions.html#request-object-session
  [4]: $root/reference/database.html#models
  [5]: $root/reference/database.html#database-schemas
  [6]: $root/reference/database.html#database-migrations
  [7]: $root/reference/utilities.html
]]}
</div>


<div class="split_columns">
  <div class="lua_column left_column content_column">
    <div class="column_inner">

$markdown{[[
```lua
local lapis = require "lapis"
local app = lapis.Application()

-- Define a basic pattern that matches /
app:match("/", function(self)
  local profile_url = self:url_for("profile", {name = "leafo"})
  -- Use inline HTML helper to quickly write a template
  return self:html(function()
    h2("Welcome!")
    text("Go to my ")
    a({href = profile_url}, "profile")
  end)
end)

-- Define a named route pattern with a variable called name
app:match("profile", "/:name", function(self)
  return self:html(function()
    div({class = "profile"},
      "Welcome to the profile of " .. self.params.name)
  end)
end)

return app
```
]]}
    </div>
  </div>

  <div class="moon_column right_column content_column">
    <div class="column_inner">
$markdown{[[

```moon
lapis = require "lapis"

class extends lapis.Application
  -- Define a basic pattern that matches /
  "/": =>
    profile_url = @url_for "profile", name: "leafo"
    -- Use inline HTML helper to quickly write a template
    @html ->
      h2 "Welcome!"
      text "Go to my "
      a href: profile_url, "profile"

  -- Define a named route pattern with a variable called name
  [profile: "/:name"]: =>
    @html ->
      div class: "profile", ->
        text "Welcome to the profile of ", @params.name
```
]]}


    </div>
  </div>
</div>

<div class="box">
$markdown{[[
Get a powerful abstraction layer over your database tables just by
sub-classing `Model`:
]]}
</div>




<div class="split_columns">
  <div class="lua_column left_column content_column">
    <div class="column_inner">

$markdown{[[
```lua
local Model = require("lapis.db.model").Model

-- Create a model, backed by the table `users`
local Users = Model.extend("users")

-- fetch some rows from the table
local elderly_users = Users:select("where age > ? limit 5", 10)

local random_user = Users:find(1233) -- find by primary key

local lee = Users:find({
  name = "Lee",
  email = "leemiller@example.com"
})

-- create a new row and edit it
local user = Users:create({
  name = "Leaf",
  email = "leaf@example.com",
  age = 6
})

user:update({ age = 10 })

user:delete()
```

]]}
    </div>
  </div>

  <div class="moon_column right_column content_column">
    <div class="column_inner">

$markdown{[[
```moon
import Model from require "lapis.db.model"

-- Create a model, automatically backed by the table `users`
class Users extends Model

-- fetch some rows from the table
elderly_users = Users\select "where age > ? limit 5", 10

random_user = Users\find 1233 -- find by primary key

lee = Users\find name: "Lee", email: "leemiller@example.com"

-- create a new row and edit it
user = Users\create {
  name: "Leaf"
  email: "leaf@example.com"
  age: 6
}

user\update age: 10

user\delete!
```

]]}

    </div>
  </div>
</div>

<div class="box">
$markdown{[[
Write your templates either in [etlua](https://github.com/leafo/etlua) or in
pure Lua/MoonScript.

The template builder syntax works well in MoonScript and lets your organize
your templates as classes, allowing you to use inheritance to mix and match
methods as you see fit.
]]}
</div>


<div class="split_columns">
  <div class="lua_column left_column content_column">
    <div class="column_inner">

$markdown{[[
```erb
<h1 class="header"><%= "Hello" %></h1>
<% if current_user then %>
  <div class="user_panel">
    Welcome back <%= current_user.name %>
  </div>
<% end %>

<div class="body">
  Welcome to my site
</div>
```
]]}
    </div>
  </div>

  <div class="moon_column right_column content_column">
    <div class="column_inner">

$markdown{[[
```moon
import Widget from require "lapis.html"

class Index extends Widget
  content: =>
    h1 class: "header", "Hello"

    @user_panel!
    div class: "body", ->
      text "Welcome to my site!"

  user_panel: =>
    return unless @current_user
    div class: "user_panel", "Welcome back " .. @current_user.name
```
]]}

    </div>
  </div>
</div>


<div class="box">
$markdown{[[
Using all the provided tools we can quickly and logically construct high
performance and low memory web applications. Here's a more complicated example
complete with forms, CSRF protection, and various database queries.
]]}
</div>

<div class="split_columns">
  <div class="lua_column left_column content_column">
    <div class="column_inner">

$markdown{[[
```lua
local lapis = require "lapis"
local Model = require("lapis.db.model").Model
local capture_errors = require("lapis.application").capture_errors
local csrf = require "lapis.csrf"

local Users = Model:extend("users")

local app = lapis.Application()

app:before_filter(function(self)
  self.csrf_token = csrf.generate_token(self)
end)

app:get("list_users", "/users", function(self)
  self.users = Users:select() -- `select` all users
  return { render = true }
end)

app:get("user", "/profile/:id", function(self)
  local user = Users:find({ id = self.params.id })
  if not user then
    return { status = 404 }
  end

  return { render = true }
end)

app:post("/user/new", capture_errors(function(self)
  csrf.assert_token(self)
  Users:create({
    name = self.params.username
  })

  return { redirect_to = self:url_for("list_users") }
end))

app:get("new_user", "/user/new", function(self)
  return { render = true }
end)

return app
```
]]}
    </div>
  </div>

  <div class="moon_column right_column content_column">
    <div class="column_inner">

$markdown{[[
```moon
lapis = require "lapis"
import Model from require "lapis.db.model"
import respond_to, capture_errors from require "lapis.application"
csrf = require "lapis.csrf"

class Users extends Model

class extends lapis.Application
  -- Execute code before every action
  @before_filter =>
    @csrf_token = csrf.generate_token @

  [list_users: "/users"]: =>
    users = Users\select! -- `select` all the users

    -- Render HTML inline for simplicity
    @html ->
      ul ->
        for user in *users
          li ->
            a href: @url_for("user", user.id), user.name

  [user: "/profile/:id"]: =>
    user = Users\find id: @params.id
    return status: 404 unless user
    @html -> h2 user.name

  -- Respond to different HTTP actions to do the right thing
  [new_user: "/user/new"]: respond_to {
    POST: capture_errors =>
      csrf.assert_token @
      Users\create name: @params.username
      redirect_to: @url_for "list_users"

    GET: =>
      @html ->
        form method: "POST", action: @url_for("new_user"), ->
          input type: "hidden",
            name: "csrf_token", value: @csrf_token
          input type: "text", name: "username"
  }
```
]]}

    </div>
  </div>
</div>

<div class="box">
  <h3>Where can I learn more? <span class="decor">❧</span></h3>
$markdown{[[
For a guide and tutorial to Lapis, consult the [$reference manual]($root/reference.html).

The source of Lapis can be [found on Github](https://github.com/leafo/lapis)
and issues can be reported on the [issues
tracker](https://github.com/leafo/lapis/issues).

[MoonRocks](http://rocks.moonscript.org) is an open source application written
in Lapis. It is a public Lua Rock repository and the [source can be found on
GitHub](https://github.com/leafo/moonrocks-site).
]]}
</div>

<div class="box">
  <h3>Anything else I should know? <span class="decor">❧</span></h3>
$markdown{[[
You can deploy a new Lapis application in a few minutes.

If you don't mind using [Heroku](http://www.heroku.com) then it's just a matter
of using the [Lua Buildpack](https://github.com/leafo/heroku-buildpack-lua) and
installing the [OpenResty module](https://github.com/leafo/heroku-openresty).

You can use most existing Lua libraries with Lapis with no problems.
Here are some libraries you might find useful:

* [`web_sanitize`](https://github.com/leafo/web_sanitize) -- HTML sanitization
* [`magick`](https://github.com/leafo/magick) -- ImageMagick bindings
* [`cloud_storage`](https://github.com/leafo/cloud_storage) -- Support for Google Cloud Storage
* [`lapis-console`](https://github.com/leafo/lapis-console) -- Interactive MoonScript console for Lapis that runs inside of your browser
* [`lapis-exceptions`](https://github.com/leafo/lapis-exceptions) -- Exception tracking and reporting
]]}
</div>


<div class="box">
  <h3>About <span class="decor">❧</span></h3>
$markdown{[[
Lapis would not be possible without the following projects:

* [Lua](http://lua.org)
* [LPeg](http://www.inf.puc-rio.br/~roberto/lpeg/)
* [OpenResty](http://openresty.org)

Lapis is licensed under the [MIT license](http://opensource.org/licenses/MIT).

Lapis is written by [@moonscript](http://twitter.com/moonscript).
]]}
</div>

<div class="has_buttons bottom_buttons">
  <a href="$root/reference.html" class="button">Reference Manual</a>
  <a href="https://github.com/leafo/lapis" class="button">Source on GitHub</a>
</div>

<div class="top_row">
  <a href="#" class="top_link">&uarr; Top</a>
</div>

