
$bg: lighten(#EAFFEA, 2%);
$font_size: 18px;
$link_color: #DA3400;

$site_width: 800px;

// @import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);

body {
    background: $bg;
    color: #222;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;
}

code, pre {
    font-family: Inconsolata, monospace;
}

.header {
    // border-bottom: 1px solid rgba(0,0,0, 0.1);
    background: url("img/arches.png");

    .inner {
        height: 220px;
        width: $site_width;
        margin: 0 auto;
    }

    .animation {
        float: left;
        background: #444;
        color: white;
        width: 320px;
        height: 200px;
        margin-top: 10px;
        margin-right: 20px;
    }

    h1 {
        margin: 0;
        font-size: 120px;
    }

    h2 {
        margin: 10px 0 4px 0;
        font-weight: normal;
        font-size: 18px;
        color: #666;

        a {
            text-decoration: none;
            font-style: italic;
            color: #222;
        }
    }

    .social_buttons {
        background: rgba(0,0,0,.2);
        display: inline-block;
        padding: 2px 4px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
        border-radius: 4px;
    }
}

.content {
    border-top: 1px solid rgba(0,0,0, 0.1);

    .inner {
        width: $site_width;
        margin: 0 auto;
    }
    
    h3 {
        color: #667066;
        text-shadow: 1px 1px 0 white;
        margin: 20px 0 10px 0;
        font-size: 36px;

        .decor {
            color: #ADB8AD;
            font-weight: normal;
        }
    }
}


pre {
    background: #333;
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0,0,0, 0.7), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
    border-radius: 2px;
    border: 1px solid #222;
}

.highlight {
    // builtins
    .nb {
        color: #FFA67C;
    }

    // strings
    .s, .s1, .s2, .se, .nt {
        color: #ffe898;
    }

    // proper names
    .nc, .vc, .bp {
        color: #98d9ff;
    }

    // true, false, nil
    .kc {
        color: #acfff0;
    }

    // function lit, braces, parens
    .nf, .kt {
        color: #9fff98;
    }

    .nv {
        color: #ff9898;
    }

    // keywords
    .k, .kd, .na {
        color: #cb98ff;
    }

    .c1, .c2 {
        color: #929292;
    }

    .m, .mi, .mf, .mh, .o {
        color: #9495ff;
    }
}

