<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lapis - A web framework for MoonScript &amp; OpenResty</title>
  <link rel="stylesheet" href="home.css?$generate_date" />
  <script src="jquery.min.js"></script>
  $analytics{"UA-136625-1"}
</head>
<body>
  <div class="header">
    <div class="inner">
      <div class="window_frame pink">
        <div class="window_title">Lapis</div>
        <div class="animation" id="screencast"></div>
      </div>
      <h1>
        Lapis
      </h1>
      <h2>A web framework for <a href="http://moonscript.org">MoonScript</a> & <a href="http://openresty.org/">OpenResty</a></h2>
      <div class="social_buttons">
        <a href="https://twitter.com/moonscript" class="twitter-follow-button" data-width="160px" data-show-count="false" data-show-screen-name="true">Follow @moonscript</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://leafo.net/lapis/" data-text="Lapis - A web framework for MoonScript & OpenResty" data-count="horizontal" data-via="moonscript">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

        <div class="g-plusone" data-size="medium" data-href="http://leafo.net/lapis"></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="button_row">
      <div class="button_offset">
        <div class="line"></div>
        <a href="$root/reference.html" class="button">Reference Manual</a>
        <a href="https://github.com/leafo/lapis" class="button">Source on GitHub</a>
        <div class="line"></div>
      </div>
    </div>

    <div class="install_row">
      <div class="installer">
        <div class="install_label">Install</div>
        <div class="install_promp">
          <code class="highlight">luarocks install lapis</code>
        </div>
      </div>

    </div>

    <div class="inner">$body
    </div>
  </div>

  <div class="footer">
    <div class="inner">
      <div class="right">
        $generate_date PST
      </div>

      <div>
        by <a href="http://leafo.net">leaf corcoran</a> 
        <a rel="author" href="https://plus.google.com/114377626084940227656"><img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a>
        <span class="dot">&middot;</span>
        licensed under MIT
        <span class="dot">&middot;</span>
        patterns from <a href="http://subtlepatterns.com/">subtle patterns</a>
      </div>
    </div>

    <div class="texture"></div>
  </div>

  <div class="sticky_bar">
    <div class="sticky_bar_inner">
      <div class="sticky_social">
        <a href="https://twitter.com/moonscript" class="twitter-follow-button" data-width="160px" data-show-count="false" data-show-screen-name="true">Follow @moonscript</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://leafo.net/lapis/" data-text="Lapis - A web framework for MoonScript & OpenResty" data-count="horizontal" data-via="moonscript">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

        <div class="g-plusone" data-size="medium" data-href="http://leafo.net/lapis"></div>
      </div>

      <span class="sticky_header">Lapis</span>

      View examples in 
      <div class="lang_picker" id="lang_picker">
        <span class="picker current" data-size="moonscript">MoonScript</span>
        <span class="picker" data-size="lua">Lua</span>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="animations/player.js"></script>
  <script type="text/javascript" src="animations/1/anim_packed.js"></script>

  <script type="text/javascript">
    (function() {
      var player = new Player(anim_packed, "animations/1");
      document.getElementById("screencast").appendChild(player.element);
      player.start();
    })();
  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <a href="https://github.com/leafo/lapis"><img style="position: fixed; top: 0; right: 0; border: 0;" src="$root/img/fork.png" alt="Fork me on GitHub"></a>

  <script type="text/javascript" src="$root/home.js?$generate_date"></script>
</body>
</html>
