<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lapis Reference Manual</title>
  <link rel="stylesheet" href="reference.css?$generate_date" />
  <script src="jquery.min.js"></script>
  $analytics{"UA-136625-1"}
</head>
<body>
  <div class="columns">

    <div class="nav_column">
      <div class="sticky_inner">
        <div class="nav_links">
          <a href="#" class="top_link">&uarr; Top</a>
        </div>
      </div>
    </div>

    <div class="text_column">$body
    </div>

  </div>

  <script type="text/javascript" src="$root/reference.js?$generate_date"></script>
</body>
</html>
